/*----- ROOT VARIABLES -----*/
:root {
    --airplane: #018FC3; /* color: var(--airplane); */
    --bus: #FF5100; /* color: var(--bus); */
    --ferry: #FFD000; /* color: var(--ferry); */
    --helicopter: #FF1100; /* color: var(--helicopter); */
    --seaplane: #A602FF; /* color: var(--seaplane); */
    --train: #03FF42; /* color: var(--train); */
    --white: #FFFFFF; /* color: var(--white); */
    --black: #000000; /* color: var(--black); */
    --gray: #444444; /* color: var(--gray); */
    --darkGray: #262626; /* color: var(--darkGray); */
    --earth: #1157B9; /* color: var(--earth); */
    --txtShadow: 2px 2px 2px var(--black); /* text-shadow: var(--txtShadow); */
}

/*----- Roboto - Google font -----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--black);
}

/*----- MAIN CONTAINER -----*/
#main-container {
    background-color: var(--black);
}

/*----- HEADER -----*/
#main-header {
    height: 6vh;
    font-size: 1.5vmax;
    font-size: 3.5vmin;
    max-width: 100vw;
    color: var(--white);
    background-color: #262626;
    text-shadow: var(--txtShadow);
    display: grid;
    grid-template-columns: minmax(20px,1vw) auto minmax(5px,1fr) auto 7px;
    grid-template-rows: minmax(2px,5px) auto minmax(2px,5px);
    grid-template-areas:
        ". . . . ."
        ". main-header . countries ."
        ". . . . .";
}
#main-header h1 {
    grid-area: main-header;
    margin: 0 auto;
    padding: 0;
    font-size: 2vmax;
    text-align: center;
    align-self: center;
    justify-items: center;
}
#countries {
    grid-area: countries;
    padding-left: 10px;
    font-size: 1.5vmax;
    font-weight: bold;
    color: var(--white);
    background-color: #444444;
    border-radius: 5px;
    border: 1px solid var(--black);
    outline: none;
}

/*----- MAP -----*/
#map {
    height: 88vh;
    max-width: 100vw;
    border-top: 0.5vh solid var(--airplane);
    border-bottom: 0.5vh solid var(--airplane);
}
.leaflet-control-attribution.leaflet-control {
    background-color: var(--black);
    color: rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 5px rgba(1,143,195,0.5);
    font-size: 0.9em;
}
.leaflet-control-attribution.leaflet-control a {
    color: var(--airplane);
    transition: all 0.2s ease-in-out;
}
.leaflet-control-attribution.leaflet-control a:hover {
    text-decoration: none;
    color: var(--white);
}

/*----- map icons markers -----*/
img.leaflet-marker-icon {
    border-radius: 50%;
    border: 1px solid var(--black);
    transition: all 0.2s ease-in-out;
}
img[src*="marker-icon"].leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
    border-radius: 0;
    border: none;
}

/*----- animations per specific icon marker -----*/
img[src*="airplane"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(1,143,195,0.5);
    animation: pulse-airplane 2.5s infinite;
}
img[src*="bus"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(195,62,1,0.5);
    animation: pulse-bus 2.5s infinite;
}
img[src*="city"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(255,255,255,0.5);
    animation: pulse-city 2.5s infinite;
}
img[src*="ferry"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(195,159,1,0.5);
    animation: pulse-ferry 2.5s infinite;
}
img[src*="helicopter"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(195,14,1,0.5);
    animation: pulse-helicopter 2.5s infinite;
}
img[src*="seaplane"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(124,1,195,0.5);
    animation: pulse-seaplane 2.5s infinite;
}
img[src*="train"]:not(.layers-icon) {
    box-shadow: 0px 0px 50px 5px rgba(1,195,53,0.5);
    animation: pulse-train 2.5s infinite;
}
img.leaflet-marker-icon:active,
img.leaflet-marker-icon:hover,
img.leaflet-marker-icon:focus {
    animation: none;
}

/*----- keyframes for icon animations -----*/
@keyframes pulse-airplane {
    0% {box-shadow: 0 0 0 0 rgba(1,143,195,1);}
    75% {box-shadow: 0 0 25px 15px rgba(1,143,195,0);}
    100% {box-shadow: 0 0 25px 5px rgba(1,143,195,0);}
}
@keyframes pulse-bus {
    0% {box-shadow: 0 0 0 0 rgba(195,62,1,1);}
    75% {box-shadow: 0 0 25px 15px rgba(195,62,1,0);}
    100% {box-shadow: 0 0 25px 5px rgba(195,62,1,0);}
}
@keyframes pulse-city {
    0% {box-shadow: 0 0 0 0 rgba(255,255,255,1);}
    75% {box-shadow: 0 0 25px 15px rgba(255,255,255,0);}
    100% {box-shadow: 0 0 25px 5px rgba(255,255,255,0);}
}
@keyframes pulse-ferry {
    0% {box-shadow: 0 0 0 0 rgba(195,159,1,1);}
    75% {box-shadow: 0 0 25px 15px rgba(195,159,1,0);}
    100% {box-shadow: 0 0 25px 5px rgba(195,159,1,0);}
}
@keyframes pulse-helicopter {
    0% {box-shadow: 0 0 0 0 rgba(195,14,1,1);}
    75% {box-shadow: 0 0 25px 15px rgba(195,14,1,0);}
    100% {box-shadow: 0 0 25px 5px rgba(195,14,1,0);}
}
@keyframes pulse-seaplane {
    0% {box-shadow: 0 0 0 0 rgba(124,1,195,1);}
    75% {box-shadow: 0 0 25px 15px rgba(124,1,195,0);}
    100% {box-shadow: 0 0 25px 5px rgba(124,1,195,0);}
}
@keyframes pulse-train {
    0% {box-shadow: 0 0 0 0 rgba(1,195,53,1);}
    75% {box-shadow: 0 0 25px 15px rgba(1,195,53,0);}
    100% {box-shadow: 0 0 25px 5px rgba(1,195,53,0);}
}

/*----- hover effects per specific icon marker -----*/
img[src*="airplane"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--airplane);
}
img[src*="bus"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--bus);
}
img[src*="city"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--white);
}
img[src*="ferry"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--ferry);
}
img[src*="helicopter"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--helicopter);
}
img[src*="seaplane"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--seaplane);
}
img[src*="train"]:not(.layers-icon):hover {
    box-shadow: 0px 0px 50px 5px var(--train);
}

/*----- pop-up text styles -----*/
.popup-iata {
    font-size: 4em;
    font-weight: bold;
    text-shadow: var(--txtShadow);
}
.popup-text {
    color: var(--white);
    font-size: 1.5em;
    text-shadow: var(--txtShadow);
}
.popup-name {
    font-size: 1.25em;
}
.popup-website a {
    padding: 10px 15px;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    background-color: var(--black);
    transition: all 0.2s ease-in-out;
}
.popup-small {
    color: var(--white);
    font-size: 1.25em;
    text-shadow: var(--txtShadow);
}
.bold {
    font-weight: bold;
}
.airport,
.airport a {
    color: var(--airplane);
}
.bus_station,
.bus_station a {
    color: var(--bus);
}
.city_code,
.city_code a {
    color: var(--white);
}
.ferry_port,
.ferry_port a {
    color: var(--ferry);
}
.heliport,
.heliport a {
    color: var(--helicopter);
}
.seaplane_base,
.seaplane_base a {
    color: var(--seaplane);
}
.train_station,
.train_station a {
    color: var(--train);
}

.airport a:hover,
.bus_station a:hover,
.city_code a:hover,
.ferry_port a:hover,
.heliport a:hover,
.seaplane_base a:hover,
.train_station a:hover {
    color: var(--black);
    box-shadow: 0px 0px 5px 3px var(--black);
}
.airport a:hover {
    background-color: var(--airplane);
}
.bus_station a:hover {
    background-color: var(--bus);
}
.city_code a:hover {
    background-color: var(--white);
}
.ferry_port a:hover {
    background-color: var(--ferry);
}
.heliport a:hover {
    background-color: var(--helicopter);
}
.seaplane_base a:hover {
    background-color: var(--seaplane);
}
.train_station a:hover {
    background-color: var(--train);
}

/*----- custom Leaflet Layer styles -----*/
.leaflet-control-layers-expanded {
    min-width: 200px;
    color: var(--airplane);
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--black);
    background-color: rgba(68,68,68,0.95);
}
.leaflet-control-layers-expanded img {
    margin: 0 3px 3px 3px;
    vertical-align: top;
}
.leaflet-control-layers-toggle {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--gray);
    box-shadow: 0px 0px 10px 5px var(--airplane);
}
.leaflet-control-layers.leaflet-control:not(.leaflet-control-layers-expanded) {
    background-color: transparent;
    border: 0;
}
.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
    border: 0;
    padding-right: 10px;
    padding-left: 15px;
    box-shadow: 0px 0px 5px 3px var(--airplane);
}

/*----- custom Marker Cluster icons -----*/
.marker-cluster-large,
.marker-cluster-medium,
.marker-cluster-small {
    background-color: transparent;
}
.marker-cluster-large div,
.marker-cluster-medium div,
.marker-cluster-small div {
    background-color: #7D3E11;
    font-size: 1.25em;
    color: var(--white);
    text-shadow: var(--txtShadow);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(125,62,17,0.5);
}

/*----- override Leaflet.css Zoom Controls -----*/
.leaflet-bar a {
    background-color: rgba(0,0,0,0.8);
    color: var(--airplane);
    box-shadow: 0px 0px 5px 1px var(--airplane);
    transition: all 0.1s ease-in-out;
}
.leaflet-bar a:hover {
    background-color: var(--airplane);
    color: var(--black);
    box-shadow: 0px 0px 5px 1px var(--airplane);
}
.leaflet-bar a.leaflet-disabled {
    color: transparent;
    background-color: rgba(0,0,0,0.8);
}

/*----- Leaflet Search - by IATA code -----*/
.leaflet-control-search.search-exp {
    background: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px 1px var(--airplane);
}
.leaflet-control-search {
    border-radius: 4px;
    z-index: 1000;
}
.leaflet-control-search .search-input {
    float: left;
    background: var(--white);
    border: 1px solid var(--airplane);
    border-radius: 2px;
    height: 22px;
    padding: 0 20px 0 2px;
    margin: 4px 0 4px 4px;
    text-transform: uppercase;
}
.leaflet-control-search .search-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    list-style: none;
    padding-left: 0;
    min-width: 120px;
    max-height: 122px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    background-color: var(--black);
    z-index: 1010;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}
.leaflet-control-search .search-tip {
    margin: 2px;
    padding: 2px 4px;
    display: block;
    background: var(--white);
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
}
.leaflet-control-search .search-tip:hover {
    background-color: var(--black);
}
.leaflet-control-search .search-cancel {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 28px;
    margin: 6px 0;
    text-decoration: none;
    opacity: 0.8;
}
.leaflet-control-search .search-button {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
}
.leaflet-control-search .search-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.leaflet-control-search .search-alert {
    cursor: pointer;
    clear: both;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 0 .25em;
    color: var(--helicopter);
    font-weight: bold;
    border-radius: .25em;
}

/*----- Leaflet Geocoder Search -----*/
.geocoder-control.leaflet-control {
    padding: 0 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px 1px var(--airplane);
    max-width: 300px;
}
.geocoder-control.leaflet-control input {
    background: var(--white);
    border-radius: 2px;
    height: 22px;
    padding: 0 2px;
    margin: 6px 1px;
    width: 95%;
}
input.geocoder-control-input.leaflet-bar {
    border: 1px solid var(--airplane);
}
.geocoder-control-suggestions.leaflet-bar {
    background-color: var(--black);
    color: var(--airplane);
    font-weight: bold;
}
.geocoder-control-suggestion {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.geocoder-control-suggestion:hover {
    background-color: var(--airplane);
    color: var(--black);
}
.geocoder-control-list {
    list-style: none;
}

/*----- override Leaflet.css pop-up styles -----*/
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    min-width: 300px;
    border: 1px solid var(--black);
    background-color: rgba(68,68,68,0.95);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}

.leaflet-container a.leaflet-popup-close-button {
    color: var(--white);
    font-size: 3em;
    right: 20px;
    top: 10px;
    text-shadow: var(--txtShadow);
    transition: all 0.3s ease-in-out;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    color: var(--black);
    text-shadow: none;
}

/*----- override Leaflet.css standard settings -----*/
.leaflet-container {
    background-color: #262626;
}

/*----- FOOTER -----*/
#main-footer {
    height: 5vh;
    max-width: 100vw;
    background-color: var(--black);
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: minmax(20px,1vw) auto minmax(20px,1vw);
    grid-template-rows: minmax(2px,5px) auto minmax(2px,5px);
    grid-template-areas:
        ". . ."
        ". footer-attributes ."
        ". . .";
}
.footer-attributes {
    grid-area: footer-attributes;
    align-self: center;
    justify-items: center;
    color: var(--white);
    font-size: 1.25vmax;
}
.footer-attributes a {
    text-decoration: none;
    color: var(--white);
    margin: 0 2.5px;
}
.footer-attributes img {
    vertical-align: bottom;
    transition: all 0.2s ease-in-out;
    width: 1.5vmax;
}
#github {
    border-radius: 50%;
}
#linkedin {
    border-radius: 3px;
}
#github:hover {
    background-color: #4078C0;
    box-shadow: 0 0 1em 0.25em rgba(64,120,192,0.75);
    outline: none;
}
#linkedin:hover {
    background-color: #0077B5;
    box-shadow: 0 0 1em 0.25em rgba(0,119,181,0.75);
    outline: none;
}

/*----- MODAL -----*/
#modal-container {
    height: 100vh;
    background: url(../images/earth.jpg) top / cover no-repeat fixed;
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-rows: minmax(1vh,2vh) auto minmax(1vh,auto);
    grid-template-areas:
        "."
        "modal"
        ".";
}
#modal {
    padding: 10px;
    width: 90vw;
    color: var(--white);
    border-radius: 25px;
    text-shadow: var(--txtShadow);
    border: 1px solid rgba(0,0,0,0.25);
    background-color: rgba(68,68,68,0.85);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    display: grid;
    grid-area: modal;
    grid-template-areas:
        "modal-header"
        "modal-body"
        "modal-footer"
        "modal-counts";
}
#modal-header {
    grid-area: modal-header;
    align-self: center;
    justify-items: center;
    text-align: center;
    margin: 5px;
    font-size: 1.75vmax;
    letter-spacing: 1.5px;
}
#modal-body {
    grid-area: modal-body;
    font-size: 1.75vmax;
}
#modal-body p {
    margin: 1em 1em 0 1em;
    text-align: justify;
}
#modal-footer {
    grid-area: modal-footer;
    align-self: center;
    justify-items: center;
}
#modal-close {
    cursor: pointer;
    padding: 1em;
    margin: 0.5em;
    font-size: 2vmax;
    font-weight: bold;
    border-radius: 3em;
    border: 0;
    align-self: center;
    justify-items: center;
    color: var(--white);
    text-shadow: var(--txtShadow);
    background-color: var(--airplane);
    animation: pulse-modal-button 2.5s infinite;
    box-shadow: 0px 0px 50px 5px rgba(1,143,195,0.75);
    transition: all 0.2s ease-in-out;
}
#modal-close:hover,
#modal-close:active,
#modal-close:focus {
    background-color: var(--black);
    color: var(--airplane);
    outline: none;
    animation: none;
}
@keyframes pulse-modal-button {
    0% {
        box-shadow: 0 0 0 0 rgba(255,255,255,1);
    }
    50% {
        box-shadow: 0 0 25px 25px rgba(255,255,255,0);
    }
    100% {
        box-shadow: 0 0 50px 1px rgba(255,255,255,0);
    }
}
#modal-counts {
    grid-area: modal-counts;
    align-self: center;
    justify-items: center;
    font-size: 1.5vmax;
    font-weight: bold;
    text-align: center;
}
#modal-counts mark {
    background-color: var(--black);
    border-radius: 10px;
    padding: 0 5px;
    font-size: 1.5vmax;
    font-weight: bold;
}
