* {
    margin: 0 auto;
    padding: 0;
}

header {
    height: 19vh;
    max-width: 100vw;
    background-color: #444444;
}

#map {
    height: 75vh;
    max-width: 100vw;
    border-top: 0.5vh solid #018FC3;
    border-bottom: 0.5vh solid #018FC3;
}

footer {
    height: 5vh;
    max-width: 100vw;
    background-color: #000000;
}